/oracle-academy/section-1/netbeans/JavaApplication3/nbproject/private/
/oracle-academy/section-1/netbeans/MyFirstProject/nbproject/private/
/oracle-academy/section-1/netbeans/MyFirstProject/build/
/oracle-academy/section-1/netbeans/MySecondProject/nbproject/private/
/oracle-academy/section-1/netbeans/MySecondProject/build/
